.booking {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-form {
  margin: 30px 150px;
}
.booking-form input {
  display: block;
  margin-top: 15px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 300px;
}
.error {
  color: red;
}
